<h2>Geeks of Legend</h2>

<select (change)="onChange($event.target.value)">
  <option value="">All Classes</option>
  <option value="Fighter">Fighters</option>
  <option value="Healer">Healers</option>
  <option value="Mage">Mages</option>
  <option value="Rogue">Rogues</option>
</select>
<br><br>

<div *ngFor="let member of members | async | role:filterByRole" class="panel panel-default">
  <div class="panel-body">
    <h3 (click)="goToDetailPage(member)"><em>{{member.name}}</em> playing {{member.character}} : {{member.role}}</h3>
    <div *ngIf="currentRoute === '/admin'">
      <app-edit-member [selectedMember]="member"></app-edit-member>
    </div>
  </div>
</div>
